.node {
  width: 25px;
  height: 25px;
  background-color: whitesmoke;
  color: white;
  border-color: black;
  border: 1px solid black;
  /* padding: 1px; */
}

.node-visited {
  width: 25px;
  height: 25px;
  background-color: chocolate;
  color: white;
  border-color: black;
  border: 1px solid black;
  /* padding: 1px; */
}

.node-path {
  width: 25px;
  height: 25px;
  background-color: green;
  color: white;
  border-color: black;
  border: 1px solid black;
  /* padding: 1px; */
}

.city {
  padding: 1px;
  margin: 0px;
  height: auto;
  width: auto;
  align-items: center;
}

.node-start {
  border: 1px solid black;
  background-color: blue;
  border-radius: 50px;
  height: 12px;
  width: 12px;
}

.node-end {
  border: 1px solid black;
  background-color: red;
  border-radius: 50px;
  height: 12px;
  width: 12px;
}

.node-wall {
  width: 18px;
  height: 18px;
  background-color: black;
}
