.Map {
  margin: 2%;
}

.Nav {
  /* height: 50px; */
  background-color: cadetblue;
  padding: 1%;
  width: auto;
  justify-content: space-between;
}

.run {
  float: right;
}

.Board {
  width: auto;
  height: auto;
  background-color: darkorange;
  color: white;
  font-size: 3em;
  table-layout: fixed;
}
